<div class="container" style="padding: 20px">
  <h2>Konfigurator kompozyji kwiatowych w sklepie internetowym</h2>
  <hr>
  <h4 style="margin-bottom: 10px">Skonfiguruj swoją kompozycję</h4>

  <h5>Roślina</h5>
  <div class="row" style="margin-bottom: 10px">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary" (click)="onNextTree()">
        <i class="bi bi-arrow-left-circle"></i>
      </button>
      <button type="button" class="btn btn-light pointer-cursor-disabled" [textContent]="treeLabel"></button>
      <button type="button" class="btn btn-secondary" (click)="onPreviousTree()">
        <i class="bi bi-arrow-right-circle"></i>
      </button>
    </div>
  </div>

  <h5>Dekoracja rośliny</h5>
  <div class="row" style="margin-bottom: 10px">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary" (click)="onNextDecoration()">
        <i class="bi bi-arrow-left-circle"></i>
      </button>
      <button type="button" class="btn btn-light pointer-cursor-disabled" [textContent]="decorationLabel"></button>
      <button type="button" class="btn btn-secondary" (click)="onPreviousDecoration()">
        <i class="bi bi-arrow-right-circle"></i>
      </button>
    </div>
  </div>

  <h5>Ozdoby</h5>
  <div class="row" style="margin-bottom: 10px">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary" (click)="onNextOrnament()">
        <i class="bi bi-arrow-left-circle"></i>
      </button>
      <button type="button" class="btn btn-light pointer-cursor-disabled" [textContent]="ornamentLabel"></button>
      <button type="button" class="btn btn-secondary" (click)="onPreviousOrnament()">
        <i class="bi bi-arrow-right-circle"></i>
      </button>
    </div>
  </div>

  <h5>Doniczka</h5>
  <div class="row" style="margin-bottom: 30px">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary" (click)="onNextContainer()">
        <i class="bi bi-arrow-left-circle"></i>
      </button>
      <button type="button" class="btn btn-light pointer-cursor-disabled" [textContent]="containerLabel"></button>
      <button type="button" class="btn btn-secondary" (click)="onPreviousContainer()">
        <i class="bi bi-arrow-right-circle"></i>
      </button>
    </div>
  </div>

  <hr>
  <h4>Twoja kompozycja</h4>
  <div class="row">
    <div class="col-xs-12 text-center">
      <img
        [src]="compositionPic"
        alt="Błąd: nie odnaleziono podanej kompozycji"
        class="img-responsive"
        style="max-height: 400px;">
    </div>
  </div>
</div>
